<ul class="main-navigation">
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/blog/categories/ruby/">Ruby</a></li>
  <li><a href="{{ root_url }}/blog/categories/rails/">Rails</a></li>
  <li><a href="{{ root_url }}/blog/categories/golang/">Golang</a></li>
  <li><a href="{{ root_url }}/blog/categories/javascript/">JavaScript</a></li>
  <li><a href="{{ root_url }}/blog/categories/docker/">Docker</a></li>
  <li><a href="{{ root_url }}/tool">Tool</a></li>
  <li><a href="{{ root_url }}/about">About</a></li>
</ul>
